<div class="container text-center" >
    <h1>About Page</h1>
    <p>We are DevMatch.Our company focuses on creating an exclusive community
    for develepors and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, ad sequi natus corrupti saepe officiis ipsa ipsum commodi similique culpa nobis est at. Suscipit, ipsa a doloribus labore quisquam soluta!
    </p>
</div>